<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/operadoras" routerLinkActive="active">
    <mat-icon matListItemIcon>business</mat-icon>
    <span matListItemTitle>Operadoras</span>
  </a>
  <a mat-list-item routerLink="/contratos" routerLinkActive="active">
    <mat-icon matListItemIcon>description</mat-icon>
    <span matListItemTitle>Contratos</span>
  </a>
  <a mat-list-item routerLink="/faturas" routerLinkActive="active">
    <mat-icon matListItemIcon>receipt</mat-icon>
    <span matListItemTitle>Faturas</span>
  </a>
</mat-nav-list>
